* {
    box-sizing: border-box;
}

body,html {
    padding: 0;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #333;
    color: #ddd;
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin-bottom: 5px;
    text-align: center;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}


.container {
    width: 500px;
    text-align: center;
}


img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
}

.description {
    width: 300px;
}

h2 {
    margin-bottom: 5px;
}

.progress-bar {
    width: 300px;
    margin-top: 25px;
}

.bar {
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0%;
    background-color: #333;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    margin-left: -10px;
}

.time {
    width: 300px;
    margin-top: 5px;
    justify-content: space-between;

    display: flex;
    align-items: center;
}

.controls {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.botao-play {
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.pause {
    display: none;
}

.botao-pause {
    font-size: 50px;
    cursor: pointer;
}

/* Estilos para dispositivos móveis */

@media (max-width: 480px) {

    .music-player {
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 100%;
        border-radius: 50%;
    }

    h1 {
        margin: 0;
        margin-bottom: 5%;
        font-size: 25px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i {
        font-size: 1.5rem;
        margin: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        display: none;
    }

    .container {
        width: 100%;
        /* Ajuste a largura para ocupar toda a tela */
    }

    img {
        width: 90%;
        /* Ajuste a largura da imagem para ocupar toda a largura disponível */
        height: auto;
        /* Mantenha a proporção da imagem */
        margin: 0;

        border-radius: 50%;
    }

    .progress-bar {
        width: 90%;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-left: 6%;
    }

    .bar {
        width: 90%;
    }

    progress {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .point {
        width: 20px;
        height: 20px;
    }

    .time {
        width: 90%;
        margin-top: 5px;
    }

    .controls {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
}



/* Estilos para dispositivos móveis "375px" */

@media (max-width: 375px) {

    .music-player {
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 90%;
        margin: 0 0 30px 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0;
        margin-bottom: 5%;
        font-size: 25px;
    }

    h2 {
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i {
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        display: none;
    }

    .container {
        width: 100%;
        /* Ajuste a largura para ocupar toda a tela */
    }

    img {
        width: 100%;
        /* Ajuste a largura da imagem para ocupar toda a largura disponível */
        height: auto;
        /* Mantenha a proporção da imagem */
        margin: 0;
        border-radius: 50%;
    }

    .progress-bar {
        width: 90%;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-left: 6%;
    }

    .bar {
        width: 90%;
    }

    progress {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .point {
        width: 20px;
        height: 20px;
    }

    .time {
        width: 90%;
        margin-top: 5px;
    }

    .controls {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
}